*{
    box-sizing: border-box;
}
#container {
    top: 100px;
    width: 300px;
    height: 300px;
    /* width: 1200px; */
    /* height: 600px; */
    position: relative;
    perspective: 100px;
    /* perspective: 600px; */
    /* half the width */
    border: 2px solid green;
    overflow: hidden;
  }
  #room {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-origin: 150px 0px 100px;
    /* transform-origin: 50% 50% 50%; */
    /* transform-origin: 50% 80% 600px; */
    transform-style: preserve-3d;
    
  }
  #room figure {
    margin: 0;
    display: block;
    position: absolute;
    border: 2px solid green;
    font: 40px"calibri";
    text-align: center;
  }
  #room .n,
  .e,
  .s,
  .w {
      width: 300px;
      height: 300px;
      /* width: 1196px; */
    /* height: 596px; */
  }
  #room .n {
    background-color: rgba(255, 0, 0, 0.3);
  }
  #room .e {
    background-color: rgba(255, 255, 0, 0.3);
  }
  #room .s {
    background-color: rgba(0, 255, 255, 0.3);
  }
  #room .w {
    background-color: rgba(0, 0, 255, 0.3);
  }
  #room .t,
  .b {
    width: 300px;
    height: 300px;
    top: -150px;
    background-color: rgba(200, 200, 200, 0.5);
  }
  /* transform & inverse */
  
  #room .n {
    /* transform: rotateY(0deg) translateZ(0px); */
    transform: rotateY(0deg) translateZ(-50px);
  }
  #room .e {
    /* transform: rotateY(-90deg) translateZ(-150px) translateX(150px); */
    transform: rotateY(-90deg) translateZ(-150px) translateX(100px);
  }
  #room .s {
    transform: rotateY(180deg) translateZ(-250px);
  }
  #room .w {
    /* transform: rotateY(90deg) translateZ(-150px) translateX(-150px); */
    transform: rotateY(90deg) translateZ(-150px) translateX(-100px);
  }
  #room .t {
    /* transform: rotateX(90deg) translateZ(125px) translateY(150px); */
    transform: rotateX(90deg) translateZ(0px) translateY(100px);
  }
  #room .b {
    /* transform: rotateX(90deg) translateZ(-125px) translateY(150px); */
    transform: rotateX(90deg) translateZ(-300px) translateY(100px);
  }









  /* Show */
  #room .show-n {
    transform: translateZ(0px) rotateY(0deg);
  }
  #room .show-e {
    transform: translateX(-150px) translateZ(150px) rotateY(90deg);
  }
  #room .show-s {
    transform: translateZ(300px) rotateY(180deg);
  }
  #room .show-w {
    transform: translateX(150px) translateZ(150px) rotateY(-90deg);
  }
  #room .show-t {
    transform: translateY(-150px) translateZ(-125px) rotateX(-90deg);
  }
  #room .show-b {
    transform: translateY(-150px) translateZ(125px) rotateX(90deg);
  }
  #room {
    animation: 5s hspinner;
  }
  @keyframes hspinner {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(-360deg);
    }
  }